<div class="container">
    <div class="row">
        <h1>Scrape News!</h1>

        <ul class="results">
            {{#each results}}

            <div article-id={{_id}} class="card">
                <div class="card-body">
                    <a class="card-title" href={{link}} target="_blank">{{title}}</a>
                    <p class="card-text">{{description}}</p>

                    {{!-- Add Note --}}
                    <a href="#" class="card-link add-note">Add Note</a>
                    
                    {{!-- View Note --}}
                    <a class="card-link view-note" data-toggle="collapse" href="#note-{{_id}}" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        View Note
                    </a>

                    <div class="collapse" id="note-{{_id}}">
                        <div class="card card-body note-body">
                            Test Note tho
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </ul>

    </div>
</div>

<script>

</script>