<div class="container">
    <div class="row">
        <h1>Scrape News!</h1>

        <ul class="results">
            {{#each results}}

            <div article-id={{_id}} class="card">
                <div class="card-body">
                    <a class="card-title" href={{link}} target="_blank">{{title}}</a>
                    <p class="card-text">{{description}}</p>

                    {{!-- Add Note (Link) --}}
                    <a class="card-link add-note" data-toggle="collapse" href="#noteadd-{{_id}}" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Add Note
                    </a>

                    {{!-- View Note (Link) --}}
                    <a class="card-link view-note" data-toggle="collapse" href="#noteview-{{_id}}" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        View Note
                    </a>

                    {{!-- Add Note (Display) --}}
                    <div class="collapse" id="noteadd-{{_id}}">
                        <textarea class="form-control" id="notetext-{{_id}}"></textarea>
                        <button type="button" class="btn btn-success btn-sm save-note" data-toggle="collapse" href="#noteadd-{{_id}}">Save</button>
                    </div>

                    {{!-- View Note (Display) --}}
                    <div class="collapse" id="noteview-{{_id}}">
                        <div class="card card-body note-body">
                            Add a note!
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </ul>

    </div>
</div>

<script>

</script>